<!-- Página de detalhes do animal -->
<div class="container-details ">
    <div class="animal-details">
        <h1>{{animal.nomedoanimal}}</h1>
        <img src="{{animal.imageurl}}" alt="{{animal.nomedoanimal}}">
        <p>Características: {{animal.caracteristicas.[2]}}
        <br><br>Telefone: {{animal.telefone}}
        <br><br>Observações: {{animal.observacao}}
        <br><br>Endereço: {{animal.endereco}}
        <br><br>Categoria: {{animal.categoria}}</p>
    </div>
</div>
